/*  your css code here. If applicable */
.star {
        width: 150px;
        height: 150px;
        background-color: yellow;
        clip-path: polygon(50% 0%, 61.8% 38.2%, 100% 38.2%, 69.1% 61.8%, 38.2% 61.8%, 50% 100%, 0% 38.2%, 30.9% 61.8%, 0% 61.8%, 38.2% 38.2%);
    }