/*  your css code here. If applicable */
.star {
        width: 100px;
        height: 100px;
        background-color: yellow;
        clip-path: polygon(50% 0%, 68% 38%, 100% 44%, 76% 72%, 82% 100%, 50% 80%, 18% 100%, 24% 72%, 0% 44%, 32% 38%);
    }